### Import Libraries

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

###Import Webpage

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies',headers=headers).text

### Define “Soup” as BeautifulSoup Library

In [ ]:
soup=BeautifulSoup(webpage,'lxml')

### Use Print

In [ ]:
#print(soup.prettify())

### Extract the heading line

In [ ]:
for n in soup.find_all('h1'):
  print(n.text.strip())

List of companies in India

### Extract the Company Name

In [ ]:
for i in soup.find_all('h2'):
  print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

###Extract the rating value

In [ ]:
for k in soup.find_all('span',class_='companyCardWrapper__companyRatingValue'):
  print(k.text.strip())

3.8
4.0
3.9
3.8
3.8
4.0
4.0
3.8
3.7
3.7
3.9
3.9
3.7
3.9
4.0
4.1
4.1
4.0
4.0
4.1

###Extract the all card details

In [ ]:
for j in soup.find_all('span',class_='companyCardWrapper__interLinking'):
  print(j.text.strip())

IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +349 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +181 more
IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +169 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +278 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +144 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1561 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1296 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +182 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +273 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +112 more
Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1317 more
BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +191 more
BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +119 more
Telecom | 50k-1 Lakh Employees | Public | 6 years old | Navi Mumbai +1177 more
Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +456 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +149 more
Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +1013 more
NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +962 more
Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +629 more